* {
  font-family: "Roboto", "sans-serif";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar a {
  font-size: 1.2rem;
}

.navbar li {
  padding-right: 10px;
}

.banner-img,
.resume-banner-img {
  filter: blur(3px);
}

.hero-section h1 {
  position: relative;
  bottom: 30vw;
  font-size: 3.5vw;
  color: black;
}

.resume-banner {
  margin-top: 9vw;
}

.resume-banner h2 {
  position: relative;
  bottom: 10vw;
  font-size: 6vw;
  color: black;
}

#about-me p {
  font-size: 20px;
  line-height: 30px;
}

.image-fluid {
  max-width: 100%;
  height: auto;
}

button {
  width: 15%;
}
